// WordPress editor styles
$space: 14px;
$black: #000;
$white: #fff;

.wp-block-itsamoreh-unsplash-random-image {
	.image-select-box {
		align-items: center;
		background: rgba($black, 0.1);
		border: 2px solid $black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: $space;
		padding: 2rem;

		.logo {
			// sass-lint:disable-block property-units - Need to use px to get the right aspect ratio on the logo.
			height: 46px;
			margin-bottom: $space;
			width: 200px;
		}

		.error-message {
			font-size: 1rem;
			margin: $space 0 0;
			text-align: center;
		}
	}

	.image-select-form {
		align-items: center;
		display: flex;
		justify-content: center;

		.query div {
			margin: 0;
		}

		.query input,
		.button {
			border-color: $black;
			border-radius: 2px;
			color: $black;
			font-size: 1rem;
			height: 36px; // sass-lint:disable-line property-units - Override different heights on input and button.
			line-height: 1rem;
			margin: 0;
			padding: 0.5rem;
		}

		.query input {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}

		.button {
			background-color: $black;
			border-bottom-left-radius: 0;
			border-left: 0;
			border-top-left-radius: 0;
			color: $white;
			font-weight: 800;
		}
	}

	img  {
		width: 100%;
	}

	.block-placeholder {
		align-items: center;
		background: rgba($black, 0.1);
		color: $black;
		display: flex;
		font-weight: 800;
		justify-content: space-between;
		padding: $space;

		svg {
			height: 2rem;
			left: 2rem;
			width: 2rem;
		}
	}
}
